# Code adopted from 
# Title: Django & React Web App Tutorial - Authentication, Databases, Deployments & More...
# Author: Tech With Tim
# Youtube link: https://www.youtube.com/watch?v=c-QsfbznSXI&t=7203s
# Code below from video
asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv