.home-content {
  grid-area: home-content;
  background-color: rgb(255, 255, 255);
  padding: 20px;
 }
 
 
.title-container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 70% 30%;
 }
 
 
 .title-container span {
  grid-column: span 2;
  font-size: 64px;
  font-weight: 400;
  color: #008080;
 }
 

 .title-container p {
  grid-column: 1; 
  grid-row: 2;
  margin: 0;  
  padding: 0; 
  font-size: 32px;
  font-style: italic;
 }

 .title-container a {
  background-color: #2C3E50; 
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  justify-self: end;
}

.title-container a button {
  all: unset; /* Removes default button styles */
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.planner {
  margin-top: 20px;
}

.my-trips {
  display: flex;
  justify-content: center;
  font-size: 45px;
}
 
.trip-container {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "trip"
    "trip"
    "trip";
  grid-template-columns: 30% 30% 30%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
 }