.home-content {
  grid-area: home-content;
  background-color: rgb(255, 255, 255);
  padding: 20px;
 }
 
 
.title-container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 70% 30%;
 }
 
 
 .title-container span {
  grid-column: span 2;
  font-size: 64px;
  font-weight: 400;
  color: #008080;
 }
 

 .title-container p {
  grid-column: 1; 
  grid-row: 2;
  margin: 0;  
  padding: 0; 
  font-size: 32px;
  font-style: italic;
 }

 .title-container a {
  background-color: #2C3E50; 
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  justify-self: end;
}

.title-container a button {
  all: unset; /* Removes default button styles */
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.planner {
  margin-top: 20px;
}

.upcoming-trips {
  display: flex;
  justify-content: center;
  font-size: 45px;
}

 .trip-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
  max-height: 600px;
  overflow-y: auto;
  margin: 20px auto;
  width: 100%;
}

.past-trips-toggle {
  margin-top: 2rem;
  text-align: center;
}

.past-trips-toggle button {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}






@media (min-width: 768px) {
  .trip-container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
  }
}




