.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  max-width: 100%;
}


.login-form-wrapper {
  display: flex;
  gap: 2rem;
  background-color: #f6f6f6;
  border-radius: 1.25rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 800px;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 350px;
    padding: 20px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .login-container {
      flex-direction: column;
      align-items: center;
    }
  
    .form-content-container {
      width: 90%; 
      max-width: 350px; 
    }
  
    .register-form,
    .login-form {
      width: 100%; 
      max-width: 350px;
    }
  
    .name-inputs {
      flex-direction: column; 
      width: 100%;
    }
  
    .name-inputs input {
      width: 100%;
    }
  }
  
  