.trips {
  display: grid;
  grid-template-rows: 1.5fr 1fr 1fr 1fr; 
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #5baeae;
  border: 5px solid #99cccc;
  margin: 15px;
  padding: 5px;
  border-radius: 15px;
  min-width: 150px;
  min-height: 220px;
 }


.trip-date {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  color: #FDFBF5;
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
}

.trip-route {
  grid-column: span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #FDFBF5;
  font-size: 0.9rem;
  margin: 5px 0;
}

.route-arrow {
  margin: 0 5px;
  font-weight: bold;
}

.route-start,
.route-end {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40%;
}

.details-button {
  grid-column: 2;
  background-color: #dcdcdc; 
  display: flex;
  justify-content: center;
  display:inline;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  height: 70%;
}

.details-button:hover {
  background-color: #c0c0c0; 
}

.edit-button {
  background-color: transparent; 
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button svg {
  font-size: 14px; 
}

.delete-past-trip-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-past-trip-button svg {
  font-size: 12px; 
}


.delete-past-trip-button:hover {
  color: red;
}

.trip-details-wrapper {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

.trip-details-container {
  background: white;
  padding: 25px;
  border-radius: 15px;
  border: 5px solid #8ab4b3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.trip-title {
  font-size: 22px;
  grid-column: span 3;
  font-weight: bold;
  color: #207d86;
  text-align: center;
  margin-bottom: 10px;
  justify-content: center;
} 

.trip-details-container p {
  font-size: 15px;
  color: #333;
  margin: 4px 0;
}

.trip-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.trip-buttons button {
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}


  
  