.trip-details-wrapper {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

.trip-details-container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    border: 5px solid #8ab4b3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}

.trip-title {
    font-size: 24px;
    font-weight: bold;
    color: #207d86;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.trip-details-container p {
    font-size: 16px;
    color: #333;
    margin: 8px 0;
}

hr {
    margin: 5px 0;
    border: none;
    border-top: 1px solid #ddd;
}

.trip-owner, .collaborator-entry {
    margin-top: 15px;
}

.label {
    font-weight: 600;
    color: #111;
    margin-bottom: 5px;
}

.owner-name {
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
}

.owner-email {
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
}

.trip-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.trip-buttons button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.generate-route {
    background-color: #8ab4b3;
    color: #000;
}

.generate-route:hover {
    background-color: #6a9c9b;
}

.back-button {
    background-color: #e5e7eb;
    color: #111;
}
